<div style="height: 100%;" align="center">
    <mat-card style="width: 50%;max-width: 400px;min-width: 300px;background-color: rgb(247, 247, 247);">
        <form [formGroup]="profileForm">
            <mat-card-header>
                <h1><b>Alta de Materia</b></h1>
            </mat-card-header>
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" [(ngModel)]="materia.nombre" matInput>
            </mat-form-field>
            <div *ngIf="!profileForm.controls.nombre.valid">
                <b>Nombre Incorrecto</b>
            </div>
            <br>

            <mat-form-field>
                <mat-label>Cuatrimestr</mat-label>
                <input type="number" formControlName="cuatrimestre" [(ngModel)]="materia.cuatrimestre" matInput >
            </mat-form-field>
            <div *ngIf="!profileForm.controls.cuatrimestre.valid">
                <b>Cuatrimestre Incorrecto</b>
            </div>


            <br>
            <mat-form-field>
                <mat-label>Cupo</mat-label>
                <input type="number" formControlName="cupo" [(ngModel)]="materia.cupo" matInput >
            </mat-form-field>
            <div *ngIf="!profileForm.controls.cupo.valid">
                <b>Clave Incorrecta</b>
            </div>
            <br>

            <mat-form-field>
                <mat-label>Año</mat-label>
                <input formControlName="anio" [(ngModel)]="materia.anio" matInput >
            </mat-form-field>
            <div *ngIf="!profileForm.controls.anio.valid">
                <b>Año Incorrecto</b>
            </div>
            <br>

            <mat-form-field>
                <mat-label>Profesor</mat-label>
                <input formControlName="profesor" [(ngModel)]="materia.profesor" matInput>
            </mat-form-field>
            <div *ngIf="!profileForm.controls.profesor.valid">
                <b>Profesor Incorrecto</b>
            </div>


            <br>
            <br>
            <button [disabled]="!profileForm.valid" mat-flat-button color="primary" (click)="Registrar()">Registrar</button>
        </form>
    </mat-card>
    <app-listado-profesores (OnElegirProfesor)="ProfesorElegido($event)"></app-listado-profesores>
</div>